page-devices-list {

  .dollar {
    color: green;
  }

  .flash {
    //color: #ffff63;
  }

  .time {
    color: #BBBBBB;
  }

  .split-col {
    border-right: 1px solid grey;
  }

  .col-top {
    //border-top: 1px solid grey;

  }

  #list {
    //background-color: #f1efff;
    margin-bottom: 1%;
  }

  .text-colour {
    //color: #488aff;
    color: dark;
  }
}
