page-devices-list {
  .list {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .vertical-align-content {
    margin-top: 50%;
  }

  #edit {
    color: color($colors, light);
    background-color: color($colors, secondary);
  }

  #category-padding {
    padding-left: 9px
  }

  ion-item {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  ion-label {
    margin: 0 !important;
  }

  .list-top {
    color: white;
    background-color: color($colors, secondary);
  }
}
