page-catalogue {
  .segment-wrap {
    display: flex;
    flex-wrap: wrap;
    background-color: color($colors, navbar);

    .segment-button {
      color: white;
      flex: 1 0 25%;
      width: 100%;
    }
  }

  h2 {
    color: color($colors, secondary);
  }

  ion-card-header {

  }

  ion-card {
    background-color: #F9FFDA !important;
  }
  .line{
    border-bottom: 1px solid #eee !important;
    background-color: #F9FFDA !important;
  }
  .last {
    background-color: #F9FFDA !important;
  }
}
