<ion-header>
  <ion-navbar>
    <ion-buttons end>
			<button ion-button navPop color="primary">
				{{ 'CREATE.CLOSE' | translate }}
			</button>
		</ion-buttons>
    <ion-title>{{ mode }} {{ 'CREATE.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-label floating>{{ 'CREATE.NAME' | translate }}</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-label floating>{{ 'CREATE.QUANTITY' | translate }}</ion-label>
              <ion-input type="number" formControlName="quantity"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item no-lines>
              <ion-label floating>{{ 'CREATE.POWER' | translate }}</ion-label>
              <ion-input type="number" formControlName="power"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-label floating>{{ 'CREATE.HOURS' | translate }}</ion-label>
              <ion-input type="number" formControlName="hours"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item no-lines>
              <ion-label floating>{{ 'CREATE.DAYS' | translate }}</ion-label>
                <ion-input type="number" min="0" max="30" formControlName="daysUsed"></ion-input>
              <!-- <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" formControlName="daysUsed"></ion-datetime> -->
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-lines>
              <ion-label>{{ 'CREATE.CATEGORY' | translate }}</ion-label>
              <ion-select formControlName="category">
                <ion-option value="Lights">Lights</ion-option>
                <ion-option value="Living Room">Living Room</ion-option>
                <ion-option value="Kitchen">Kitchen</ion-option>
                <ion-option value="Laundry">Laundry</ion-option>
                <ion-option value="Others">Others</ion-option>
                <ion-option *ngFor="let category of listCategory" value="{{ category.name }}">{{ category.name }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="mode == 'New'">
          <ion-col>
            <ion-item>
               <ion-label>Add To Appliance List</ion-label>
               <ion-checkbox formControlName="AddToList"></ion-checkbox>
             </ion-item>
             <ion-item>
               <ion-label>Add To Category</ion-label>
               <ion-checkbox formControlName="AddToCategory"></ion-checkbox>
             </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <button ion-button type="submit" block [disabled]="!deviceForm.valid">{{ 'CREATE.CONFIRM' | translate }}</button>
  </form>
</ion-content>
