<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
			<button ion-button icon-only navPop>
        <ion-icon name="arrow-back"></ion-icon>
			</button>
		</ion-buttons>
    <ion-title>{{ mode }} {{ 'CREATE.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item no-lines color="background">
              <ion-label floating>{{ 'CREATE.NAME' | translate }}</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-lines color="background">
              <ion-label floating>{{ 'CREATE.QUANTITY' | translate }}</ion-label>
              <ion-input type="number" formControlName="quantity" clearOnEdit></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item no-lines color="background">
              <ion-label floating>{{ 'CREATE.POWER' | translate }}</ion-label>
              <ion-input type="number" formControlName="power"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item color="background">
              <ion-label floating>{{ 'CREATE.HOURS' | translate }}</ion-label>
                <ion-datetime formControlName="hours" pickerFormat="HH:mm"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item color="background">
              <ion-label floating>{{ 'CREATE.DAYS' | translate }}</ion-label>
              <ion-select formControlName="daysUsed" interface="popover">
                <ion-option *ngFor="let listDays of days" value="{{listDays.days}}">{{listDays.days}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item color="background">
              <ion-label floating>{{ 'CREATE.CATEGORY' | translate }}</ion-label>
              <ion-select formControlName="category">
                <ion-option *ngFor="let category of listCategory" value="{{ category.name }}">{{ category.name }}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item color="background" no-lines>
              <ion-label>Enable compressor cycles</ion-label>
              <ion-checkbox (click)="checked()"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row [hidden]="!check">
          <!-- <ion-col>
            <ion-item no-lines color="background">
              <ion-label floating>Manual Input</ion-label>
              <ion-input type="number" formControlName="compressor" ></ion-input>
            </ion-item>
          </ion-col> -->
          <ion-col>
            <ion-item color="background">
              <ion-label floating>Predefined List</ion-label>
              <ion-select formControlName="compressor">
                <ion-option value="0.65">Air Conditioner</ion-option>
                <ion-option value="0.57">Freezer (upright)</ion-option>
                <ion-option value="0.25">Fridge</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <button ion-button color="secondary" type="submit" block [disabled]="!deviceForm.valid">{{ 'CREATE.CONFIRM' | translate }}</button>
  </form>
</ion-content>
