page-reports {
   ion-slides {
     height: auto;
   }

   ion-label {
     margin: 0 !important;
   }

   ion-item {
     box-shadow: none !important;
   }

   .input-push{
     position: initial;
   }
}
