<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
			<button ion-button icon-only navPop>
        <ion-icon name="arrow-back"></ion-icon>
			</button>
		</ion-buttons>
    <div *ngIf="mode == 'New'">
      <ion-title>ADD APPLIANCE</ion-title>
    </div>
    <div *ngIf="mode == 'Edit' || mode == 'Category Edit'">
      <ion-title>EDIT APPLIANCE</ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="terms" placeholder="Search Saved Appliances List"></ion-searchbar>
  <ion-list [hidden]="!terms">
    <ion-item *ngIf="listCategoryDevices == 0" color="background">
      <p>Your Saved Appliances List Is Empty</p>
    </ion-item>
    <div *ngFor="let device of listCategoryDevices | search : terms; let i = index">
      <ion-item text-wrap (click)="onAutoFill(device)" color="background">
        <ion-grid>
          <ion-row>
            <ion-col col-4 text-justified>
              <p>{{ device.name}} ({{ device.quantity }})</p>
            </ion-col>
            <ion-col text-left>
              <p ><ion-icon name="flash"></ion-icon> {{ device.power }}</p>
            </ion-col>
            <ion-col text-left>
              <p><ion-icon name="time"></ion-icon> {{ device.hours }}</p>
            </ion-col>
            <ion-col>
              <p><ion-icon name="calendar"></ion-icon> {{ device.daysUsed }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
  <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item color="background">
              <ion-label floating>Appliance Name</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item color="background">
              <ion-label floating>Quantity</ion-label>
              <ion-input type="number" formControlName="quantity" clearOnEdit></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item color="background">
              <ion-label floating>Wattage</ion-label>
              <ion-input type="number" formControlName="power"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item color="background">
              <ion-label floating>Hours Per Day</ion-label>
              <ion-datetime formControlName="hours" pickerFormat="HH:mm"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item color="background">
              <ion-label floating>Days Used Per Month</ion-label>
              <ion-select formControlName="daysUsed" interface="popover">
                <ion-option *ngFor="let listDays of days" value="{{listDays.days}}">{{listDays.days}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item color="background" no-lines>
              <ion-label>Enable Compressor Cycles</ion-label>
              <ion-checkbox (click)="checked()"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row [hidden]="!check">
          <ion-col>
            <ion-item color="background">
              <ion-label floating>Appliance Type</ion-label>
              <ion-select formControlName="compressor">
                <ion-option value="0.65">Air Conditioner (Average Cycle)</ion-option>
                <ion-option value="0.84">Air Conditioner (Long Cycle)</ion-option>
                <ion-option value="0.55">Dishwasher</ion-option>
                <ion-option value="0.87">Electric Dryer</ion-option>
                <ion-option value="0.18">Freezer (upright)</ion-option>
                <ion-option value="0.23">Refrigerator</ion-option>
                <ion-option value="0.20">Water Cooler</ion-option>
                <ion-option value="0.28">Washing Machine (Cold Water)</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <button ion-button color="secondary" type="submit" block [disabled]="!deviceForm.valid">Confirm</button>
  </form>
</ion-content>
