page-summary {

  .col-top {
    border-bottom: 1px solid #d1d1d1;
  }
  .dollar {
    color: green;
  }

  .flash {
    color: #ffff63;
  }

  .text-center{
    text-align: center;
  }

  .split-col {
    border-right: 1px solid grey;
  }

  .text-colour {
    color: #488aff;
  }
}
