page-summary {
  #top {
    //border-bottom: 1px solid black;
    background-color: #dee8f7;
  }
  #summary-first {
    background-color: #dee8f7;
    border-top: 1px solid black;
  }

  #summary-second {
    background-color: #ebffd8;
    border-bottom: 1px solid black;
  }

  .dollar {
    color: green;
  }

  .flash {
    color: #ffff63;
  }

  .text-center{
    text-align: center;
  }

  .split-col {
    border-right: 1px solid grey;
  }
}
