<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-title>{{ 'SUMMARY.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="content">
  <div text-center id="top" padding>
    <h2>{{ 'SUMMARY.DETAILS' | translate }}</h2>
    <!-- <p *ngIf="totalPower <= 0;">You do not have any input data</p>
    <p *ngIf="totalPower <= 0;">You must have at least one(1) item with over zero(0) power consumption to display results</p> -->
  </div>

  <ion-grid padding id="summary-first" *ngIf="totalPower > 0;">
    <ion-row text-center>
      <ion-col>
        <p *ngIf="totalPower > 0;"><b>{{ 'SUMMARY.TOTAL' | translate }}</b></p>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col class="split-col">
        <ion-icon name="flash" class="flash"></ion-icon>
        <p *ngIf="totalPower > 0">{{ 'SUMMARY.TOTALCONSUMED' | translate }} {{ totalPower | number : '1.2-2'}}</p>
      </ion-col>
      <ion-col>
        <ion-icon name="logo-usd" class="dollar"></ion-icon>
        <p *ngIf="totalPower > 0 && totalPower <= 6000000">{{ 'SUMMARY.ESTIMATEDTOTAL' | translate }} {{ consumptionTotal | number : '1.2-2' }}</p>
        <p *ngIf="totalPower > 60000000">Estimated Total: {{ consumptionTotal | number : '1.2-2' }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid padding id="summary-first" *ngIf="totalPower > 0;">
    <ion-row text-center>
      <ion-col>
        <p *ngIf="totalPower > 0;"><b>{{ 'SUMMARY.CALCULATION' | translate }}</b></p>
      </ion-col>
    </ion-row>
      <ion-row class="col-top">
        <ion-col>
          <p>{{ 'SUMMARY.CALC_1' | translate }}</p>
        </ion-col>
        <ion-col text-right>
          <p>{{ consumptionTotal | number : '1.2-2' }}</p>
        </ion-col>
      </ion-row>
      <ion-row class="col-top">
        <ion-col>
          <p>Capacity of breaker</p>
        </ion-col>
        <ion-col text-right>
          <p>{{ capacity }}</p>
        </ion-col>
      </ion-row>
      <ion-row class="col-top">
        <ion-col>
          <p>VAT (5%)</p>
        </ion-col>
        <ion-col text-right>
          <p>{{ vat | number : '1.2-2'}}</p>
        </ion-col>
      </ion-row>
      <ion-row class="col-top">
        <ion-col>
          <p>Total</p>
        </ion-col>
        <ion-col text-right>
          <p>{{ totalBill | number : '1.2-2' }}</p>
        </ion-col>
      </ion-row>
  </ion-grid>

<ion-grid id="summary-first">
  <ion-list>
    <p text-center><b>Total power consumed per appliance</b></p>
    <ion-item id="top" *ngFor="let device of listDevices; let i = index">
        <ion-row class="col-top">
          <ion-col>
            <p>{{ device.name }} ({{ device.quantity }})</p>
          </ion-col>
          <ion-col text-right>
            <p>{{ device.quantity * device.power * device.hours * device.daysUsed }}</p>
          </ion-col>
        </ion-row>
    </ion-item>
  </ion-list>
  </ion-grid>
</ion-content>
