<ion-header dir="{{rtl}}">
  <ion-navbar>
    <ion-title>{{ 'ADD.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content dir="{{rtl}}">
  <ion-list>
    <ion-list-header>
      {{ 'ADD.CATEGORIES' | translate }}<button ion-button icon-only clear item-end (click)="onAddCategory()"><ion-icon name="add"></ion-icon></button>
    </ion-list-header>
      <ion-item *ngFor="let CatGroup of deviceCat"
        [navPush]="displayCatPage" [navParams]="CatGroup">
        <ion-icon [name]="CatGroup.icon" item-left></ion-icon>
        <h2>{{ CatGroup.category | uppercase }}</h2>
        <p>{{ CatGroup.devices.length }} Devices</p>
      </ion-item>
      <!-- CUSTOM CATEGORIES -->
      <ion-item *ngFor="let category of listCategories; let i = index" (click)="onLoadCategory(category, i)">
        <ion-icon name="book" item-left></ion-icon>
        <h2>{{ category.name | uppercase }}</h2>
        <p>{{ category.length }} Devices</p>
      </ion-item>
    </ion-list>
    <!-- BUTTONS -->
    <ion-grid>
        <ion-row>
          <ion-col>
            <button ion-button full (click)="onAddItem()" color="secondary">{{ 'ADD.ADDTOLIST' | translate }}</button>
          </ion-col>
          <ion-col>
            <button ion-button full (click)="onAddToCategory()" color="secondary">{{ 'ADD.ADDTOCAT' | translate }}</button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>

    <!-- <ion-card>
    <ion-card-header color="primary">
      Categories
      <button ion-button icon-only clear (click)="onAddCategory()"><ion-icon name="add"></ion-icon></button>
    </ion-card-header>
    <ion-list>
      <button ion-item *ngFor="let CatGroup of deviceCat"
        [navPush]="displayCatPage" [navParams]="CatGroup">
        <ion-icon [name]="CatGroup.icon" item-left></ion-icon>
        <h2>{{ CatGroup.category | uppercase }}</h2>
        <p>{{ CatGroup.devices.length }} Devices</p>
      </button>
      <ion-item *ngFor="let category of listCategories; let i = index" (click)="onLoadCategory(category, i)" text-wrap>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="text-colour">{{ category.name }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card> -->
