<ion-header>
  <ion-navbar color="navbar">
    <div *ngIf="mode != 'Custom'">
        <ion-title>{{ deviceGroup.category  | uppercase }}</ion-title>
    </div>
    <div *ngIf="mode == 'Custom'">
        <ion-title>{{ category.name  | uppercase }}</ion-title>
    </div>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <div *ngFor="let device of listDevicesCategory; let i = index">
    <ion-item-sliding *ngIf="device.category == deviceGroup.category || device.category == category.name">
      <ion-item (click)="onAddDevice(device)" color="background">
        <p>{{ device.name }}</p>
        <p class="power"><ion-icon name="flash" class="flash"></ion-icon> {{ device.power }} Watts</p>
      </ion-item>
      <ion-item-options side="{{slide}}">
        <button ion-button color="primary" (click)="onEdit(device, i)"><ion-icon name="create"></ion-icon>{{ 'DEVICELIST.EDIT' | translate }}</button>
        <button ion-button color="danger" (click)="onDelete(i)"><ion-icon name="trash"></ion-icon>{{ 'DEVICELIST.DELETE' | translate }}</button>
      </ion-item-options>
    </ion-item-sliding>
    </div>
  </ion-list>
</ion-content>
