<ion-header dir="{{rtl}}">
  <ion-navbar color="navbar">
    <ion-buttons end>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
      <ion-title>Manage Saved Appliances</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content padding dir="{{rtl}}">
  <ion-list>
    <div *ngFor="let device of listDevicesCategory; let i = index">
    <ion-item-sliding *ngIf="device.category == deviceGroup.category || device.category == category.name">
      <ion-item (click)="onAddDevice(device)" color="background">
        <p>{{ device.name }} ({{ device.quantity}})</p>
        <p class="power"><ion-icon name="flash" class="flash"></ion-icon> {{ device.power }} {{ 'DEVICELIST.WATTS' | translate }}</p>
      </ion-item>
      <ion-item-options side="{{slide}}">
        <button ion-button color="primary" (click)="onEdit(device, i)"><ion-icon name="create"></ion-icon>{{ 'DEVICELIST.EDIT' | translate }}</button>
        <button ion-button color="danger" (click)="onDelete(i)"><ion-icon name="trash"></ion-icon>{{ 'DEVICELIST.DELETE' | translate }}</button>
      </ion-item-options>
    </ion-item-sliding>
    </div>
  </ion-list>
</ion-content> -->
<ion-content dir="{{rtl}}">
  <ion-list class="list" *ngFor="let category of listCategories; let i = index">
    <ion-item-sliding color="secondary">
      <ion-item color="secondary" no-lines>
        <h2>{{ category.name }}</h2>
        <!-- <button color="light" ion-button icon-only clear item-end (click)="onAddAppliance()"><ion-icon name="add"></ion-icon></button> -->
      </ion-item>
      <ion-item-options side="{{slide}}">
        <button ion-button color="primary" (click)="onEditCategory(category, i)"><ion-icon name="create"></ion-icon>{{ 'DEVICELIST.EDIT' | translate }}</button>
        <button ion-button color="danger" (click)="onDeleteCategory(i)"><ion-icon name="trash"></ion-icon>{{ 'DEVICELIST.DELETE' | translate }}</button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-list>
      <div *ngFor="let device of listDevicesCategory; let i = index">
      <ion-item-sliding *ngIf="device.category == category.name">
        <ion-item (click)="onAddDevice(device)" color="background">
          <p>{{ device.name }} ({{ device.quantity}})</p>
          <p class="power"><ion-icon name="flash" class="flash"></ion-icon> {{ device.power }} {{ 'DEVICELIST.WATTS' | translate }}</p>
        </ion-item>
        <ion-item-options side="{{slide}}">
          <button ion-button color="primary" (click)="onEdit(device, i)"><ion-icon name="create"></ion-icon>{{ 'DEVICELIST.EDIT' | translate }}</button>
          <button ion-button color="danger" (click)="onDelete(i)"><ion-icon name="trash"></ion-icon>{{ 'DEVICELIST.DELETE' | translate }}</button>
        </ion-item-options>
      </ion-item-sliding>
      </div>
    </ion-list>
  </ion-list>
</ion-content>
